/* element selector */
h1 {
    /* color by name */
    color: rebeccapurple;

}

/* selector list */
h2, h3 {
    /* color by red, green, blue values */
    color: rgb(215, 96, 108)

}

/* id selector */
#form {


}

/* class selector */
.member {


}

/* pseudo-class selector */
:hover {


}

/* pseudo-class selector */
:active {


}

/* attribute selector */
a[href^="#"] {
    /* wider-gamut color 1 */
    color: color(display-p3 0.5 0.5 1 / .5)

}

/* universal selector */
* {

}

/* descendant combinator */
ul li {
    /* color by hue, saturation, lightness values */
    color: hsl(30deg 82% 43%);

}

/* child combinator & combining 2 selectors */
div.form-example > label {
    color : color-mix(in lch, plum, red);
}

/* general sibling combinator */
img ~ p {


}

/* adjacenet sibling combinator */
h2 + ol {
    /* color by hex code */
    color: #090;

}



/* new selector 1 */
:has(){


}

