/* web font */
@font-face {
    font-family: "Montserrat";
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
  


:root {
    /* declare variable */
    --favorite-color: violet;
}

/* mdeia query */
@media only screen and (max-width: 768px) {
    div.form-example {
        width: 100%;
    }
}

/* element selector */
h1 {
    /* color by name */
    color: rebeccapurple;
    /* text align */
    text-align: center;
    /* border styling */
    border-style: solid;
    border-color: green;
    /* absolute unit */
    border-width: 5px;
    border-radius: 10px;
    /* margin - auto */
    margin: auto;
    /* padding - long */
    padding-top: 5px;
    padding-bottom: 5px;


}


/* selector list */
h2, h3 {
    /* color by red, green, blue values */
    color: rgb(215, 96, 108)

}

/* id selector */
#form {
    /* relative unit */
    /* sizing - height */
    height: 3vh;

}

/* class selector */
.member {
    /* text decoration */
    text-decoration: underline black;

}

/* pseudo-class selector */
a:hover {
    /* background */
    background-color: yellow;
}

/* pseudo-class selector */
button:active {
    /* absolute unit */
    box-shadow: 2pt 2pt 5pt gray;
}

/* attribute selector */
a[href^="#"] {
    /* wider-gamut color 1 */
    color: color(display-p3 0.5 0.5 1 / .5);

}

nav {
    /* position */
    position: absolute;
}

/* universal selector */
* {
    /* sizing - max-width */
    max-width: 100vw;
    /* sizing - min-width */
    min-width: auto;

    font-family: "Montserrat";

}

/* descendant combinator */
ul li {
    /* color by hue, saturation, lightness values */
    color: hsl(30deg 82% 43%);

}

/* child combinator & combining 2 selectors */
div.form-example > label {
    /* wider-gamut color 2 */
    color : color-mix(in lch, plum, red);
    /* display type 1 */
    display: block;
    /* relatice unit */
    margin: 1vw;

    
}

/* general sibling combinator */
img ~ p {
    text-align: center;


}

/* adjacenet sibling combinator */
h2 + ol {
    /* color by hex code */
    color: #090;
    /* display type 2 */
    display: inline-block;
}



/* new selector 1 */
footer:has(video){
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* relative unit */
    gap: 5em;


}

details {
    /* border styling */
    border-style: dashed;
    /* use variable w/ fallback */
    border-color: var(--favorite-color, initial);
    /* margin - long */
    margin-top: 25px;
    /* margin - short */
    /* absolute unit */
    margin: 1pc 1pc 1pc 1pc;
    /* padding - short */
    padding: 10px 10px 10px 10px;
}

div {
    /* grid properties */
    display: grid;
    align-items: center;
    justify-items: start;
    justify-content: center;
    /* sizing - width */
    width: 100vw;
}

img {
    /* position */
    position: relative;
    left: 30vw;
}

